
services:
  sql_server:
    build: .
    image: cuidarmed/sqlserver:latest
    container_name: sql_server
    environment:
      SA_PASSWORD: "SecurePassword123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - cuidarmed_new_net
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    volumes:
      - ./rabbitmq/definitions.json:/etc/rabbitmq/definitions.json
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    ports:
      - "5672:5672"     
      - "15672:15672"  
    networks:
      - cuidarmed_new_net

networks:
  cuidarmed_new_net:
    external: true
