
services:
  sql_server:
    build: .
    image: cuidarmed/sqlserver:latest
    container_name: sql_server
    environment:
      SA_PASSWORD: "SecurePassword123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - cuidarmed_new_net

networks:
  cuidarmed_new_net:
    external: true
